@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Protest Riot', sans-serif;
}

.back {
    background-color: #FFC0CB;
}


img {
    max-width: 50px;
    padding-right: 12px;
}

*, ::before, ::after {
    box-sizing: border-box;
}
  
nav {
    display: flex;
    justify-content: space-between;
}
  
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
nav li {
    display: inline-block;
}
  
main {
    display: flex;
}
  
.buy {
    flex: 1 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 24px;
    padding: 12px;
    text-align: center;
    border: 1px solid #AA336A;  
}
  
.buy a {
    display: block;
    margin-top: 12px;
    padding: 6px;
    background-color: #AA336A;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
}
  
.menu-nav {
    display: block;
    margin: 0;
    padding: 6px;
}
  
.menu-nav li {
    display: inline-block;
    padding-left: 12px;
}

.menu {
    background-color: rgb(250, 156, 172);
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
}
  
.menu-nav {
    list-style-type: none;
    position: absolute;
    top: 40px;
    right: 10px;
}

.inv {
    display: none;
}

.button_text {
    background-color: rgb(250, 156, 172);
}

footer {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 95px;
    
}
  
  
.copyright_text {
    color: black;
    font-family: 'Protest Riot', cursive;
    font-size: 20px;
    padding: 0px;
    margin: 10px auto 10px;
}

.item1 {
    grid-column: 1 / span 1;
    grid-row: 1;
    height:40px;
     
}
  
.item2 {
    grid-column: 1;
   grid-row: 2 / span 2;
   height:40px;
}
  

.item1, .copyright_text{
  text-align: center;
}
  
.item2, .socials{
    margin: auto;
}
  
.item3, .footer_logo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}


.socials {
    height:20px; 
    width: 20px; 
    float: right; 
    padding: 0px 20px;
   
} 
